# Data cleaning and feature engineering

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [4]:
# read the dataframe
df = pd.read_csv('~/Desktop/working/HW-3-Solar-Enery-Project/datasets/raw/SF_Solcast_PT60M.csv')

In [5]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [6]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [7]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
13709,2021-07-23T07:00:00Z,2021-07-23T06:00:00Z,12.5,0,0,0,7.9,86.5,1010.6,215,3.7
9115,2021-01-12T21:00:00Z,2021-01-12T20:00:00Z,12.8,217,312,375,27.8,76.1,1019.8,247,0.7
15690,2021-10-13T20:00:00Z,2021-10-13T19:00:00Z,13.1,413,58,453,21.9,84.3,1011.0,252,2.7
3390,2020-05-19T08:00:00Z,2020-05-19T07:00:00Z,12.9,0,0,0,16.1,82.8,1009.7,240,3.0
3843,2020-06-07T05:00:00Z,2020-06-07T04:00:00Z,13.4,0,0,0,11.5,76.7,1012.5,295,6.6
6866,2020-10-11T04:00:00Z,2020-10-11T03:00:00Z,16.2,0,0,0,29.0,93.8,1010.7,265,3.3
4799,2020-07-17T01:00:00Z,2020-07-17T00:00:00Z,16.0,295,51,326,24.1,76.9,1007.3,264,5.6
13005,2021-06-23T23:00:00Z,2021-06-23T22:00:00Z,17.7,111,890,857,21.3,69.3,1008.1,258,5.8
2608,2020-04-16T18:00:00Z,2020-04-16T17:00:00Z,12.8,306,5,310,18.2,80.3,1007.9,195,1.8
13226,2021-07-03T04:00:00Z,2021-07-03T03:00:00Z,14.1,9,0,9,15.8,91.0,1007.5,249,4.1

In [11]:
# rename columns
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [12]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2019-12-30T02:00:00Z,2019-12-30T01:00:00Z,11.6,0,0,0,20.7,89.6,1009.4,149,5.3
1,2019-12-30T03:00:00Z,2019-12-30T02:00:00Z,11.6,0,0,0,20.5,88.7,1009.0,141,4.4
2,2019-12-30T04:00:00Z,2019-12-30T03:00:00Z,11.5,0,0,0,20.1,88.7,1009.2,121,3.2
3,2019-12-30T05:00:00Z,2019-12-30T04:00:00Z,11.2,0,0,0,19.9,89.0,1009.9,71,2.5
4,2019-12-30T06:00:00Z,2019-12-30T05:00:00Z,10.6,0,0,0,20.1,89.5,1010.7,42,4.8

In [13]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17613 entries, 0 to 17612
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      17613 non-null  object
 1   PeriodStart    17613 non-null  object
 2   Temperature    17613 non-null  float64
 3   DHI            17613 non-null  int64
 4   DNI            17613 non-null  int64
 5   Radiation      17613 non-null  int64
 6   Precipitation  17613 non-null  float64
 7   Humidity       17613 non-null  float64
 8   Pressure       17613 non-null  float64
 9   WindDirection  17613 non-null  int64
 10  WindSpeed      17613 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 1.5+ MB

In [14]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

/Users/keszhang/opt/anaconda3/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:1088: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [15]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17613 entries, 0 to 17612
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      17613 non-null  datetime64[ns]
 1   PeriodStart    17613 non-null  datetime64[ns]
 2   Temperature    17613 non-null  float64
 3   DHI            17613 non-null  int64
 4   DNI            17613 non-null  int64
 5   Radiation      17613 non-null  float64
 6   Precipitation  17613 non-null  float64
 7   Humidity       17613 non-null  int64
 8   Pressure       17613 non-null  float64
 9   WindDirection  17613 non-null  float64
 10  WindSpeed      17613 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(3)
memory usage: 1.5 MB

In [16]:
# display top 6 rows
df.head(6)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2019-12-30 02:00:00,2019-12-30 01:00:00,11.6,0,0,0.0,20.7,89,1009.4,149.0,5.3
1,2019-12-30 03:00:00,2019-12-30 02:00:00,11.6,0,0,0.0,20.5,88,1009.0,141.0,4.4
2,2019-12-30 04:00:00,2019-12-30 03:00:00,11.5,0,0,0.0,20.1,88,1009.2,121.0,3.2
3,2019-12-30 05:00:00,2019-12-30 04:00:00,11.2,0,0,0.0,19.9,89,1009.9,71.0,2.5
4,2019-12-30 06:00:00,2019-12-30 05:00:00,10.6,0,0,0.0,20.1,89,1010.7,42.0,4.8
5,2019-12-30 07:00:00,2019-12-30 06:00:00,9.9,0,0,0.0,20.1,89,1011.4,42.0,6.1

In [17]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [18]:
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2019-12-30 02:00:00,2019-12-30 01:00:00,11.6,0,0,0.0,20.7,89,1009.4,149.0,5.3,2019,2019,12,12,1,2
1,2019-12-30 03:00:00,2019-12-30 02:00:00,11.6,0,0,0.0,20.5,88,1009.0,141.0,4.4,2019,2019,12,12,2,3
2,2019-12-30 04:00:00,2019-12-30 03:00:00,11.5,0,0,0.0,20.1,88,1009.2,121.0,3.2,2019,2019,12,12,3,4
3,2019-12-30 05:00:00,2019-12-30 04:00:00,11.2,0,0,0.0,19.9,89,1009.9,71.0,2.5,2019,2019,12,12,4,5
4,2019-12-30 06:00:00,2019-12-30 05:00:00,10.6,0,0,0.0,20.1,89,1010.7,42.0,4.8,2019,2019,12,12,5,6

In [19]:
# create a new feature for sunrise using the function below; fill time for sunrise

def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

In [20]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2019-12-30 02:00:00,2019-12-30 01:00:00,11.6,0,0,0.0,20.7,89,1009.4,149.0,5.3,2019,2019,12,12,1,2,0
1,2019-12-30 03:00:00,2019-12-30 02:00:00,11.6,0,0,0.0,20.5,88,1009.0,141.0,4.4,2019,2019,12,12,2,3,0
2,2019-12-30 04:00:00,2019-12-30 03:00:00,11.5,0,0,0.0,20.1,88,1009.2,121.0,3.2,2019,2019,12,12,3,4,0
3,2019-12-30 05:00:00,2019-12-30 04:00:00,11.2,0,0,0.0,19.9,89,1009.9,71.0,2.5,2019,2019,12,12,4,5,0
4,2019-12-30 06:00:00,2019-12-30 05:00:00,10.6,0,0,0.0,20.1,89,1010.7,42.0,4.8,2019,2019,12,12,5,6,0

In [46]:
df['Sunrise'].value_counts()

0    17613
Name: Sunrise, dtype: int64

In [21]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [22]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [23]:
df.Sunset.unique()

array([0, '18:00:00', '19:00:00'], dtype=object)

In [47]:
df['Sunset'].value_counts()

0           16145
19:00:00      734
18:00:00      734
Name: Sunset, dtype: int64

In [24]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17613 entries, 0 to 17612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      17613 non-null  datetime64[ns]
 1   PeriodStart    17613 non-null  datetime64[ns]
 2   Temperature    17613 non-null  float64
 3   DHI            17613 non-null  int64
 4   DNI            17613 non-null  int64
 5   Radiation      17613 non-null  float64
 6   Precipitation  17613 non-null  float64
 7   Humidity       17613 non-null  int64
 8   Pressure       17613 non-null  float64
 9   WindDirection  17613 non-null  float64
 10  WindSpeed      17613 non-null  float64
 11  YearPS         17613 non-null  int64
 12  YearPE         17613 non-null  int64
 13  MonthPS        17613 non-null  int64
 14  MonthPE        17613 non-null  int64
 15  HourPS         17613 non-null  int64
 16  HourPE         17613 non-null  int64
 17  Sunrise        17613 non-null  int64
 18  Sunset         17613 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(10), object(1)
memory usage: 2.6+ MB

In [25]:
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [26]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9356 entries, 14 to 17612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      9356 non-null   datetime64[ns]
 1   PeriodStart    9356 non-null   datetime64[ns]
 2   Temperature    9356 non-null   float64
 3   DHI            9356 non-null   int64
 4   DNI            9356 non-null   int64
 5   Radiation      9356 non-null   float64
 6   Precipitation  9356 non-null   float64
 7   Humidity       9356 non-null   int64
 8   Pressure       9356 non-null   float64
 9   WindDirection  9356 non-null   float64
 10  WindSpeed      9356 non-null   float64
 11  YearPS         9356 non-null   int64
 12  YearPE         9356 non-null   int64
 13  MonthPS        9356 non-null   int64
 14  MonthPE        9356 non-null   int64
 15  HourPS         9356 non-null   int64
 16  HourPE         9356 non-null   int64
 17  Sunrise        9356 non-null   int64
 18  Sunset         9356 non-null   object
dtypes: datetime64[ns](2), float64(6), int64(10), object(1)
memory usage: 1.4+ MB

In [27]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
12090,2021-05-16 20:00:00,2021-05-16 19:00:00,13.3,533,162,684.0,22.7,73,1009.5,239.0,5.3,2021,2021,5,5,19,20,0,0
595,2020-01-23 21:00:00,2020-01-23 20:00:00,12.8,289,28,304.0,25.9,78,1016.5,32.0,2.4,2020,2020,1,1,20,21,0,0
16077,2021-10-29 23:00:00,2021-10-29 22:00:00,17.6,141,572,397.0,19.3,76,1007.6,269.0,3.1,2021,2021,10,10,22,23,0,0
15737,2021-10-15 19:00:00,2021-10-15 18:00:00,18.1,82,911,666.0,9.8,35,1015.1,34.0,2.5,2021,2021,10,10,18,19,0,19:00:00
6952,2020-10-14 18:00:00,2020-10-14 17:00:00,20.6,69,855,534.0,18.9,56,1014.4,310.0,1.3,2020,2020,10,10,17,18,0,18:00:00
6831,2020-10-09 17:00:00,2020-10-09 16:00:00,15.4,181,145,232.0,19.1,83,1009.9,244.0,1.7,2020,2020,10,10,16,17,0,0
11869,2021-05-07 15:00:00,2021-05-07 14:00:00,10.0,75,485,208.0,7.5,82,1012.2,295.0,1.9,2021,2021,5,5,14,15,0,0
8175,2020-12-04 17:00:00,2020-12-04 16:00:00,11.3,55,548,176.0,11.7,63,1019.5,36.0,2.8,2020,2020,12,12,16,17,0,0
5799,2020-08-27 17:00:00,2020-08-27 16:00:00,14.2,166,0,166.0,15.3,85,1005.7,232.0,2.5,2020,2020,8,8,16,17,0,0
3326,2020-05-16 16:00:00,2020-05-16 15:00:00,14.0,274,24,284.0,19.4,82,1009.5,250.0,1.8,2020,2020,5,5,15,16,0,0

In [28]:
# convert times to midnight, only keep the dates
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

<ipython-input-28-2e0d5e97784b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

In [29]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [30]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2019-12-30,2019-12-30 16:00:00,2019-12-30 15:00:00,8.9,8,59,13.0,15.3,84,1013.7,17.0,2.9,2019,2019,12,12,15,16,0,0,2019-12-30
2019-12-30,2019-12-30 17:00:00,2019-12-30 16:00:00,9.2,47,463,130.0,14.9,82,1014.4,14.0,2.8,2019,2019,12,12,16,17,0,0,2019-12-30
2019-12-30,2019-12-30 18:00:00,2019-12-30 17:00:00,9.9,71,658,277.0,14.7,77,1015.2,4.0,1.9,2019,2019,12,12,17,18,0,18:00:00,2019-12-30
2019-12-30,2019-12-30 19:00:00,2019-12-30 18:00:00,10.6,80,763,395.0,14.5,72,1015.5,3.0,1.1,2019,2019,12,12,18,19,0,19:00:00,2019-12-30
2019-12-30,2019-12-30 20:00:00,2019-12-30 19:00:00,11.2,85,804,464.0,14.3,69,1015.2,14.0,0.8,2019,2019,12,12,19,20,0,0,2019-12-30

In [31]:
# 
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9356 entries, 2019-12-30 to 2022-01-01
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      9356 non-null   datetime64[ns]
 1   PeriodStart    9356 non-null   datetime64[ns]
 2   Temperature    9356 non-null   float64
 3   DHI            9356 non-null   int64
 4   DNI            9356 non-null   int64
 5   Radiation      9356 non-null   float64
 6   Precipitation  9356 non-null   float64
 7   Humidity       9356 non-null   int64
 8   Pressure       9356 non-null   float64
 9   WindDirection  9356 non-null   float64
 10  WindSpeed      9356 non-null   float64
 11  YearPS         9356 non-null   int64
 12  YearPE         9356 non-null   int64
 13  MonthPS        9356 non-null   int64
 14  MonthPE        9356 non-null   int64
 15  HourPS         9356 non-null   int64
 16  HourPE         9356 non-null   int64
 17  Sunrise        9356 non-null   int64
 18  Sunset         9356 non-null   object
 19  Date           9356 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int64(10), object(1)
memory usage: 1.5+ MB

In [32]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [33]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9356 entries, 2019-12-30 to 2022-01-01
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        9356 non-null   datetime64[ns]
 1   PeriodStart      9356 non-null   datetime64[ns]
 2   Temperature      9356 non-null   float64
 3   DHI              9356 non-null   int64
 4   DNI              9356 non-null   int64
 5   Radiation        9356 non-null   float64
 6   Precipitation    9356 non-null   float64
 7   Humidity         9356 non-null   int64
 8   Pressure         9356 non-null   float64
 9   WindDirection    9356 non-null   float64
 10  WindSpeed        9356 non-null   float64
 11  YearPS           9356 non-null   int64
 12  YearPE           9356 non-null   int64
 13  MonthPS          9356 non-null   int64
 14  MonthPE          9356 non-null   int64
 15  HourPS           9356 non-null   int64
 16  HourPE           9356 non-null   int64
 17  Sunrise          9356 non-null   int64
 18  Sunset           9356 non-null   object
 19  Date             9356 non-null   datetime64[ns]
 20  Daily_radiation  9356 non-null   float64
 21  Daily_DNI        9356 non-null   float64
 22  Daily_DHI        9356 non-null   float64
 23  Daily_Temp       9356 non-null   float64
 24  Daily_Precip     9356 non-null   float64
 25  Daily_Humidity   9356 non-null   float64
 26  Daily_Pressure   9356 non-null   float64
 27  Daily_WindDir    9356 non-null   float64
 28  Daily_WindSpeed  9356 non-null   float64
dtypes: datetime64[ns](3), float64(15), int64(10), object(1)
memory usage: 2.1+ MB

In [34]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 
                      'HourPE', 'Sunrise', 'Sunset', 
                      'MonthPS', 'YearPE'], axis= 1)

In [35]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2019-12-30,2019-12-30 16:00:00,8.9,8,59,13.0,15.3,84,1013.7,17.0,2.9,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-30,2019-12-30 17:00:00,9.2,47,463,130.0,14.9,82,1014.4,14.0,2.8,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-30,2019-12-30 18:00:00,9.9,71,658,277.0,14.7,77,1015.2,4.0,1.9,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-30,2019-12-30 19:00:00,10.6,80,763,395.0,14.5,72,1015.5,3.0,1.1,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-30,2019-12-30 20:00:00,11.2,85,804,464.0,14.3,69,1015.2,14.0,0.8,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-30,2019-12-30 21:00:00,11.6,98,769,468.0,14.0,66,1013.9,349.0,0.2,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-30,2019-12-30 22:00:00,12.0,156,531,389.0,13.8,64,1012.8,310.0,0.4,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-30,2019-12-30 23:00:00,12.4,118,530,305.0,13.8,64,1013.0,305.0,1.4,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-31,2019-12-31 00:00:00,12.5,77,428,178.0,14.0,69,1013.4,274.0,2.0,...,2019-12-31,259.900,487.800,85.500,12.570,14.8700,64.80,1014.7800,163.6,1.6300
2019-12-31,2019-12-31 01:00:00,12.2,24,197,45.0,14.3,75,1013.6,261.0,2.2,...,2019-12-31,259.900,487.800,85.500,12.570,14.8700,64.80,1014.7800,163.6,1.6300

In [36]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9356 entries, 2019-12-30 to 2022-01-01
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        9356 non-null   datetime64[ns]
 1   Temperature      9356 non-null   float64
 2   DHI              9356 non-null   int64
 3   DNI              9356 non-null   int64
 4   Radiation        9356 non-null   float64
 5   Precipitation    9356 non-null   float64
 6   Humidity         9356 non-null   int64
 7   Pressure         9356 non-null   float64
 8   WindDirection    9356 non-null   float64
 9   WindSpeed        9356 non-null   float64
 10  MonthPE          9356 non-null   int64
 11  Date             9356 non-null   datetime64[ns]
 12  Daily_radiation  9356 non-null   float64
 13  Daily_DNI        9356 non-null   float64
 14  Daily_DHI        9356 non-null   float64
 15  Daily_Temp       9356 non-null   float64
 16  Daily_Precip     9356 non-null   float64
 17  Daily_Humidity   9356 non-null   float64
 18  Daily_Pressure   9356 non-null   float64
 19  Daily_WindDir    9356 non-null   float64
 20  Daily_WindSpeed  9356 non-null   float64
dtypes: datetime64[ns](2), float64(15), int64(4)
memory usage: 1.6 MB

In [37]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [38]:
# show the number of rows and columns available
new_df.shape

(734, 21)

In [39]:
# 
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2019-12-30,2019-12-30 23:00:00,12.4,118,530,305.0,13.8,64,1013.0,305.0,1.4,...,2019-12-30,305.125,572.125,82.875,10.725,14.4125,72.25,1014.2125,127.0,1.4375
2019-12-31,2019-12-31 23:00:00,14.1,128,479,298.0,16.2,56,1014.4,343.0,0.7,...,2019-12-31,259.900,487.800,85.500,12.570,14.8700,64.80,1014.7800,163.6,1.6300
2020-01-01,2020-01-01 23:00:00,14.1,117,0,117.0,25.7,86,1013.6,289.0,6.7,...,2020-01-01,185.500,146.500,135.300,13.060,24.8000,78.30,1014.7700,256.4,2.7100
2020-01-02,2020-01-02 23:00:00,14.2,118,555,316.0,10.0,61,1013.5,327.0,2.2,...,2020-01-02,261.400,461.000,80.900,12.490,13.8400,72.40,1014.3900,324.7,2.6300
2020-01-03,2020-01-03 23:00:00,13.7,129,497,310.0,9.9,65,1017.4,30.0,1.3,...,2020-01-03,274.400,537.700,76.900,12.400,9.6800,69.90,1016.6500,97.9,2.3900
2020-01-04,2020-01-04 23:00:00,12.8,137,470,307.0,8.9,74,1023.1,297.0,3.7,...,2020-01-04,231.400,292.700,124.000,12.570,10.3900,76.90,1022.1500,250.7,2.0500
2020-01-05,2020-01-05 23:00:00,13.5,127,510,314.0,11.9,62,1027.4,311.0,4.2,...,2020-01-05,276.000,559.900,72.500,11.650,10.5400,66.30,1027.6300,314.5,3.3300
2020-01-06,2020-01-06 23:00:00,13.2,138,468,309.0,13.7,54,1022.9,9.0,2.7,...,2020-01-06,275.800,568.000,72.800,11.370,13.2600,65.10,1025.9000,88.4,2.5100
2020-01-07,2020-01-07 23:00:00,11.6,135,509,323.0,8.1,71,1014.3,280.0,3.8,...,2020-01-07,268.500,477.600,100.100,10.640,9.2300,66.90,1017.8800,233.1,2.5200
2020-01-08,2020-01-08 23:00:00,12.3,169,307,282.0,13.2,70,1013.0,287.0,5.1,...,2020-01-08,222.000,264.000,140.200,11.250,12.7500,79.60,1014.6900,291.7,3.2000

In [40]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [41]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

In [42]:
# print the first 5 rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2019-12-30,12,2019-12-30,10.725,14.4125,72.25,1014.2125,127.0,1.4375,572.125,82.875,305.125
2019-12-31,12,2019-12-31,12.570,14.8700,64.80,1014.7800,163.6,1.6300,487.800,85.500,259.900
2020-01-01,1,2020-01-01,13.060,24.8000,78.30,1014.7700,256.4,2.7100,146.500,135.300,185.500
2020-01-02,1,2020-01-02,12.490,13.8400,72.40,1014.3900,324.7,2.6300,461.000,80.900,261.400
2020-01-03,1,2020-01-03,12.400,9.6800,69.90,1016.6500,97.9,2.3900,537.700,76.900,274.400

In [43]:
# show the number of rows and column
final_df.shape

(734, 11)

In [45]:
# save cleaned dataset
final_df.to_csv('~/Desktop/working/HW-3-Solar-Enery-Project/datasets/cleaned/cleaned_solar_irradiation.csv')